<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <strong class="navbar-brand">Pomodoro App</strong>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="/tasks" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{ exact: true }">Tasks</a></li>
      <li><a routerLink="/timer" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{ exact: true }">Timer</a></li>
      <li><a routerLink="/tasks/editor" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{ exact: true }">Publish Task</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>